/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


#container .item {
	background: red;
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-top:10px;
}

#container .item:nth-child(3n+3) {
	background: blue;
}